*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

header{
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 33px 9%;
    background: transparent;
}

.logo{
    font-family: 'Luckiest Guy', cursive;
    font-size: 70px;
    font-weight: 700;
    color: #74dd74; 
}

.page{
    height: 100%;
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(images/hello-kitty-kiss.gif);
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

section{
    padding: 0 19%;
}

.hero-text{
      text-align: center;
      position: relative;
      text-shadow: pink;
}

.hero-text h5{
    font-family: 'Lucida Handwriting', cursive;
    font-size: 14px;
    font-weight: 400;
    color: #74dd74;
    margin-bottom: 40px;
    margin-top: 60px;
}
.hero-text h1{
    font-family: 'Lovers Quarrel', cursive;
    font-size: 55px;
    line-height: 1;
    color: #74dd74;
    margin: 0 0 45px;
}
.hero-text h4{
    font-family: 'Permanent Marker', cursive;
    font-size: 23px;
    font-weight: 600;
    color: #74dd74;
    margin-bottom: 10px;
}

.fade-in-content {
    opacity: 0;
  }
  
  
  .fade-in-content {
    animation: fadeInAnimation 2s ease forwards;
  }
  
  @keyframes fadeInAnimation {
    to {
      opacity: 1;
    }
  }

  .hero-text {
    opacity: 0;
  }
  
  
  .hero-text {
    animation: fadeInAnimation 2s ease forwards;
  }
  
  @keyframes fadeInAnimation {
    to {
      opacity: 1;
    }
  }
  
  .logo {
    opacity: 0;
  }
  
  
  .logo {
    animation: fadeInAnimation 2s ease forwards;
  }
  
  @keyframes fadeInAnimation {
    to {
      opacity: 1;
    }
  }

  @media (max-width: 1535px){
    header{
        padding: 15px 3%;
        transition: 0.2s;
    }
    .icons{
        padding: 0 3%;
        transition: 0.2s;
    }
    .scroll-down{
        right: 3%;
        transition: 0.2s;
    }
}
@media (max-width: 1460px){
    section{
        padding: 0 12%;
        transition: 0.2s;
    }
}
@media (max-width: 1340px){
    .card img{
        width: 100%;
        height: auto;
    }
    .hero-text h1{
        font-size: 75px;
        margin: 0 0 30px;
    }
    .hero-text h5{
        margin-bottom: 25px;
    }
}
@media (max-width: 1195px){
    section{
        padding: 0 3%;
        transition: 0.2s;
    }
    .hero-text{
        padding-top: 115px;
    }
    .hero-img{
        text-align: center;
    }
    .card img{
        width: 560px;
        height: auto;
    }
    .hero{
        height: 100%;
        gap: 1rem;
        grid-template-columns: 1fr;
    }
    .icons{
        display: none;
    }
    .scroll-down{
        display: none;
    }
}
@media (max-width: 990px){
    #menu-icon{
        display: block;
    }
    .navlist{
        position: absolute;
        top: 100%;
        right: -100%;
        width: 210px;
        height: 57vh;
        background: #CDB0EE;
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 50px 20px;
        transition: all 0.55s ease;
    }
    .navlist a{
        margin-left: 0;
        display: block;
        margin: 7px 0;
    }
    .navlist.open{
        right: 0;
    }
}
@media (max-width: 680px){
    .card img{
        width: 100%;
        height: auto;
    }
}

  
  